@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: blues;
}

.container {
  max-width: 1174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-top: 80px;
  padding: 0 20px;
}

.container h2 {
  display: none;
}

.container.navigation {
  display: none;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

footer .container {
  margin-top: 0;
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

footer .container dl {
  padding: 20px;
  font-size: 18px;
  margin: 0;
}

footer .container dl dd {
  font-size: 25px;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .header .container {
    margin-top: 26px;
  }
  .header .container .select {
    display: none;
  }
  .header .container .region-name {
    display: inline-block;
  }
  .header .container.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 14px;
  }
  .main-content .temp img {
    height: 70px;
    top: -30px;
    right: -4px;
  }
  .main-content .temp span {
    font-size: 90px;
  }
  .main-content .temp p {
    font-size: 18px;
    margin-left: 12px;
  }
  footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  footer .container {
    margin-bottom: 20px;
  }
  footer .container dl {
    font-size: 15px;
    width: 50%;
  }
  footer .container dl dd {
    font-size: 18px;
    margin-top: 4px;
  }
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url("../fonts/PTSans-Caption.eot");
  src: local("../fonts/PT Sans Caption"), local("../fonts/PTSans-Caption"), url("../fonts/PTSans-Caption.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Caption.woff2") format("woff2"), url("../fonts/PTSans-Caption.woff") format("woff"), url("../fonts/PTSans-Caption.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Caption';
  src: url("../fonts/PTSans-CaptionBold.eot");
  src: local("../fonts/PT Sans Caption Bold"), local("../fonts/PTSans-CaptionBold"), url("../fonts/PTSans-CaptionBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-CaptionBold.woff2") format("woff2"), url("../fonts/PTSans-CaptionBold.woff") format("woff"), url("../fonts/PTSans-CaptionBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Regular', sans-serif;
  background: #488ceb;
  color: #fff;
  /* = Select region */
}

body .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  font-size: 30px;
  background: #fff;
}

body .select select {
  background: none;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 97px;
  padding: 0 116px 0 32px;
}

body .select select:focus {
  outline: none;
}

body .select button {
  background: #fff;
  border: 0;
  color: #1086ff;
  height: 100%;
  padding: 0 32px;
  position: absolute;
  top: 0;
  right: 0;
}

body .region-name {
  color: #fff;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

body .navigation a {
  color: rgba(255, 255, 255, 0.4);
  font-size: 15px;
  text-decoration: none;
}

body .navigation a.self-position .fas {
  margin-right: 6px;
}

body .temp {
  color: #fff;
  font-family: "PT Sans";
}

body .temp img {
  position: relative;
  top: 4px;
}

body .temp span {
  font-size: 180px;
}

body .temp span::after {
  content: 'º';
  color: #fff;
}

body .temp p {
  font-size: 25px;
  margin-left: 12px;
}

.switch-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.switch-field::before {
  content: 'º';
  font-size: 18px;
  color: #fff;
  opacity: 0.5;
  margin: 4px 8px;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 4px 14px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.switch-field label:first-of-type {
  border-radius: 8px 0 0 8px;
  border-right: none;
}

.switch-field label:last-of-type {
  border-radius: 0 8px 8px 0;
  border-left: none;
}
/*# sourceMappingURL=style.css.map */