@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Regular';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@mixin bold {
	font-family: 'Proxima Nova Bold', sans-serif;
}

@mixin regular {
	font-family: 'Proxima Nova Regular', sans-serif;
}

@font-face {
	font-family: 'PT Sans Caption';
	src: url('../fonts/PTSans-Caption.eot');
	src: local('../fonts/PT Sans Caption'), local('../fonts/PTSans-Caption'),
			url('../fonts/PTSans-Caption.eot?#iefix') format('embedded-opentype'),
			url('../fonts/PTSans-Caption.woff2') format('woff2'),
			url('../fonts/PTSans-Caption.woff') format('woff'),
			url('../fonts/PTSans-Caption.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans Caption';
	src: url('../fonts/PTSans-CaptionBold.eot');
	src: local('../fonts/PT Sans Caption Bold'), local('../fonts/PTSans-CaptionBold'),
			url('../fonts/PTSans-CaptionBold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/PTSans-CaptionBold.woff2') format('woff2'),
			url('../fonts/PTSans-CaptionBold.woff') format('woff'),
			url('../fonts/PTSans-CaptionBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/PTSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
