*
	box-sizing: border-box

html
	height: 100%

body
	display: flex
	flex-direction: column
	height: 100%

header
	flex: 0 0 auto
	background-color: blues

.main-content
	flex: 1 0 auto
	display: flex
	justify-content: center
	align-items: center

footer
	flex: 0 0 auto
	background-color: green

.container
	max-width: 1174px
	display: flex
	width: 100%
	justify-content: space-between
	margin: auto
	margin-top: 90px
	padding: 0 20px

	h2
		display: none
		
	&.navigation
		display: none

@media (max-width: 768px) 
	.header
		.container
			margin-top: 26px
			.select
				display: none
			.region-name
				display: inline-block
			&.navigation
				display: flex
				margin-top: 14px

	.main-content
		.temp
			img
				height: 70px
				top: -30px
				right: -4px
			span
				font-size: 90px

			p
				font-size: 18px
				margin-left: 12px






